<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/Users/abhishekjhawar/Desktop/INTERNSHIP/project_flask/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
    <!-- <link rel="stylesheet" href="style4.css"> -->
</head>
{% extends 'base.html' %}
<!-- Include custom JavaScript -->

{% block content %}
<!-- Nav bar with username, bell icon, and logout button -->
<nav class=" navbar navbar-expand-lg" id="n1">
    <div class="container-fluid" id="n2">
        <a class="nav-link" href="#" id="name"><i><img src="{{ url_for('static', filename='logo.jpg') }}" id="logo1">
                Suvidha
                Foundation</i></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="n3">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fa fa-user'
                            style="font-size:1.7rem ;margin-right:2px"></i></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Divs with random text in a flex display -->
<div class="d-flex flex-wrap mt-5" id="div">
    <div class="p-2 m-2" id="over"><label>Student Internship</label><br>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>
            It is a non-profit organization working to impart education among the financially
            challenged sections
            to help them realize parity in education and strength of little minds in building a promising future.
            The
            organization
            has provisions of student internships, student mentorship and the scope to volunteer.
            <br>
            Internships are an excellent way to do so. The integration of real-life application of knowledge with
            theoretical
            understanding in Internships helps us knowing our true calling besides building industry-relevant
            skills
            most
            effectively.
        </p><br>
    </div>

    <div class="p-2 m-2" id="sm"><label>Social Media Marketing</label><br>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>
            <b>About the work from home job/internship</b>
            <br>As a remote social media marketer, you may be responsible for:

            <br><br>1.Creating and curating content for social media platforms to increase engagement, reach, and
            followers.
            <br><br>2.Developing social media campaigns that align with the company's marketing goals and
            objectives.
            <br><br>3.Managing the company's social media presence by scheduling and posting content regularly.
            <br><br>4.Monitoring social media analytics and tracking the success of social media campaigns.
            <br><br>5.Responding to customer inquiries and comments on social media platforms.
            <br><br>6.Staying up to date with social media trends, algorithm changes, and emerging
            technologies.<br><br>
        </p>
    </div>








    <div class="p-2 m-2" id="gd"><label>Graphic Designer</label>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>
            <b>About the work from home job/internship</b>

            <br>As a remote graphic designer, you may be responsible for:

            <br><br>1.Collaborating with clients or team members to develop design concepts that meet project
            requirements.
            <br><br>2.Creating designs for a variety of mediums, including websites, social media, print
            materials,
            <br><br>packaging,
            <br><br>and more.
            <br><br>3.Presenting design concepts to clients and incorporating feedback to refine the final
            product.
            <br><br>4.Working with various design software, including Adobe Photoshop, Illustrator, and InDesign,
            to
            create
            <br><br>designs.
            <br><br>5.Ensuring that designs meet brand guidelines, are aesthetically pleasing, and are functional
            for
            their
            <br><br>intended purpose.
            <br><br>6.Staying up-to-date with design trends and emerging technologies.<br><br>
        </p>
    </div>





    <div class="p-2 m-2" id="dm"><label>Digital Marketing</label>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>

            <b>About the work from home job/internship</b>
            <br>As a remote digital marketer, you may be responsible for:

            <br><br>1.Developing and implementing digital marketing campaigns that align with the company's
            marketing
            goals
            <br><br>and
            <br><br>objectives.
            <br><br>2.Creating and curating content for digital platforms to increase engagement, reach, and
            conversions.
            <br><br>3.Managing the company's digital presence by scheduling and publishing content regularly.
            <br><br>4.Analyzing digital analytics and tracking the success of digital campaigns.
            <br><br>5.Responding to customer inquiries and comments on digital platforms.
            <br><br>6.Staying up to date with digital marketing trends, algorithm changes, and emerging
            technologies.
        </p>

    </div>







    <div class="p-2 m-2" id="cw"><label>Content Writer</label>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>

            <b>About the work from home job/internship</b>

            <br>As a remote content writer, you may be responsible for:

            <br><br>1.Writing clear, engaging, and SEO-optimized content that aligns with the company's messaging
            and
            goals.
            <br><br>2.Conducting research to support content creation.
            <br><br>3.Proofreading and editing content for accuracy and style.
            <br><br>4.Collaborating with team members to ensure content is on brand and meets project
            requirements.
            <br><br>5.Staying up-to-date with content writing trends and best practices.<br><br>
        </p>
    </div>


    <div class="p-2 m-2" id="wd"><label>Web Development</label>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>
            <b>About the work from home job/internship</b>

            <br>As a remote web developer, you may be responsible for:

            <br><br>1.Developing and maintaining websites and web applications that align with the company's
            needs.
            <br><br>2.Collaborating with team members to ensure websites meet design and functionality
            requirements.
            <br><br>3.Testing and debugging websites for optimal performance.
            <br><br>4.Staying up-to-date with web development trends and emerging technologies.
            <br><br>5.Troubleshooting and fixing technical issues with websites or web applications.
        </p>

    </div>





    <div class="p-2 m-2" id="ml"><label>Machine Learning</label>
        <p>
            <i><img src="{{ url_for('static', filename='logo.jpg') }}" class="logo"> Suvidha Foundation</i><br><br>

            <b>About the work from home job/internship</b><br>
            <br>As a remote machine learning engineer, you may be responsible for:

            <br><br>1.Building and testing machine learning models that align with the company's needs.
            <br><br>2.Analyzing data to identify trends and patterns.
            <br><br>3.Collaborating with team members to develop and implement machine learning solutions.
            <br><br>4.Staying up-to-date with machine learning trends and emerging technologies.
            <br><br>5.Troubleshooting and fixing technical issues with machine learning models.
        </p>
    </div>



    <div id="opt">
        <form id="form" action="{{ url_for('dashboard') }}" method="post" enctype="multipart/form-data" id="form">
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" name="selected_option" id="selected_option">
            <input type="file" name="uploaded_file" id="uploaded_file" style="display:none;">
            <div>
                <div class="options" id="1">
                    <label onclick="func1(1)">Social Media Marketing</label><br>
                    <p>Social media marketing is a rapidly growing field, and many companies are looking for skilled
                        professionals to help them
                        increase their online presence and engagement.</p>

                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input1" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input1" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Social Media Marketing', 'file_input1')">Apply Now</button>
                    </div>
                </div>


                <div class="options" id="2">
                    <label onclick="func1(2)">Graphic Designer</label><br>
                    <p>A graphic designer is responsible for creating visual concepts that communicate ideas and
                        messages
                        to
                        audiences. They
                        work with various design software, including Adobe Photoshop, Illustrator, and InDesign, to
                        create
                        designs for a range
                        of mediums, including websites, social media, print materials, packaging, and more.</p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input2" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input2" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Graphic Designer', 'file_input2')">Apply Now</button>
                    </div>
                </div>




                <div class="options" id="3">
                    <label onclick="func1(3)">Digital Marketing</label><br>
                    <p>A digital marketer is responsible for promoting a business or product through online channels
                        such
                        as
                        search engines,
                        social media, email, and other digital platforms. They develop and implement digital marketing
                        campaigns
                        that align with
                        the company' s marketing goals and objectives, create content, analyze marketing metrics, and
                        implement marketing strategies.</p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input3" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input3" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Digital Marketing', 'file_input3')">Apply Now</button>
                    </div>
                </div>


                <div class="options" id="4">
                    <label onclick="func1(4)">Content Writer</label><br>
                    <p>A content writer is responsible for creating written content for various mediums, including
                        websites,
                        blogs, social
                        media, and marketing materials. They write clear, engaging, and SEO-optimized content that
                        aligns
                        with
                        the company's
                        messaging and goals, conduct research to support content creation, proofread and edit content
                        for
                        accuracy and style,
                        and collaborate with team members to ensure content is on brand and meets project requirements.
                    </p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input4" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input4" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Content Writer', 'file_input4')">Apply Now</button>
                    </div>
                </div>

                <div class="options" id="5">
                    <label onclick="func1(5)">Web Developer</label><br>
                    <p>A web developer is responsible for creating and maintaining websites and web applications. They
                        develop
                        and maintain
                        websites and web applications that align with the company's needs, collaborate with team members
                        to
                        ensure websites meet
                        design and functionality requirements, test and debug websites for optimal performance, stay
                        up-to-date
                        with web
                        development trends and emerging technologies, and troubleshoot and fix technical issues with
                        websites
                        or
                        web
                        applications.</p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input5" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input5" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Web Developer', 'file_input5')">Apply Now</button>
                    </div>
                </div>


                <div class="options" id="6">
                    <label onclick="func1(6)">Machine Learning</label><br>
                    <p>A machine learning engineer is responsible for building and testing machine learning models that
                        align
                        with the
                        company's needs, analyzing data to identify trends and patterns, collaborating with team members
                        to
                        develop and
                        implement machine learning solutions, staying up-to-date with machine learning trends and
                        emerging
                        technologies, and
                        troubleshooting and fixing technical issues with machine learning models.</p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Durations : 2 Months<br>
                    <div class="file">
                        <label for="file_input6" class="fbtn"><i class="fa fa-upload"></i></label>
                        <input id="file_input6" class="files" name="uploaded_file" style="visibility:hidden;"
                            type="file">
                        <button id="SM" onclick="func2('Machine learning', 'file_input6')">Apply Now</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div id="foot">
    <div id="f-l">
        <img src="{{ url_for('static', filename='logo.jpg') }}" id="l">
        <h3>Suvidha Foundation</h3>
    </div>
    <div id="cpy">
        <label>Copyright © 2022 Suvidha Mahila Mandal. All rights reserved.</label>
    </div>
</div>

<script>
    $('#sm').hide();
    $('#gd').hide();
    $('#dm').hide();
    $('#cw').hide();
    $('#wd').hide();
    $('#ml').hide();
    $(document).ready(function () {
        $('#sm').hide();
        $('#gd').hide();
        $('#dm').hide();
        $('#cw').hide();
        $('#wd').hide();
        $('#ml').hide();
    })

    var x;
    function func1(x) {
        $('#over').hide();
        $('#sm').hide();
        $('#gd').hide();
        $('#dm').hide();
        $('#cw').hide();
        $('#wd').hide();
        $('#ml').hide();
        switch (x) {
            case 1:
                $('#sm').show();
                break;
            case 2:
                $('#gd').show();
                break;
            case 3:
                $('#dm').show();
                break;
            case 4:
                $('#cw').show();
                break;
            case 5:
                $('#wd').show();
                break;
            case 6:
                $('#ml').show();
                break;
            default:
                $('#over').show();
                $('#sm').hide();
                $('#gd').hide();
                $('#dm').hide();
                $('#cw').hide();
                $('#wd').hide();
                $('#ml').hide();
                break;
        }
    }
    $('#file_input1').change(function () {
        var i = $('#file_input1').prev('label').clone();
        var file = $('#file_input1')[0].files[0].name;
        $('#file_input1').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input1').prev('label').text(file);
    });
    $('#file_input2').change(function () {
        var i = $('#file_input2').prev('label').clone();
        var file = $('#file_input2')[0].files[0].name;
        $('#file_input2').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input2').prev('label').text(file);
    });
    $('#file_input3').change(function () {
        var i = $('#file_input3').prev('label').clone();
        var file = $('#file_input3')[0].files[0].name;
        $('#file_input3').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input3').prev('label').text(file);
    });
    $('#file_input4').change(function () {
        var i = $('#file_input4').prev('label').clone();
        var file = $('#file_input4')[0].files[0].name;
        $('#file_input4').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input4').prev('label').text(file);
    });
    $('#file_input5').change(function () {
        var i = $('#file_input5').prev('label').clone();
        var file = $('#file_input5')[0].files[0].name;
        $('#file_input5').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input5').prev('label').text(file);
    });
    $('#file_input6').change(function () {
        var i = $('#file_input6').prev('label').clone();
        var file = $('#file_input6')[0].files[0].name;
        $('#file_input6').prev('label').css({ "color": "red", "font-size": "16px", "padding-top": "1.5rem", "padding-left": "1.5rem" });
        $('#file_input6').prev('label').text(file);
    });
    function func2(option_id, file_input_id) {
        alert('Thank you for Applying in ' + option_id);
        var fileInput = document.getElementById(file_input_id);
        if (fileInput.files.length > 0) {
            document.getElementById("uploaded_file").files = fileInput.files;
        }
        document.getElementById("selected_option").value = option_id;
        document.getElementById("dashboard_form").submit();
    }
</script>

{% endblock %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>