@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

#form {
   margin: 0px;
   padding: 5px;
}

#n1 {
   background-color: rgba(255, 255, 255, 0.999);
   padding: 1rem;
   padding-left: 3rem;
   padding-right: 3rem;
   border-radius: 60px;
   margin: 10px;
   box-shadow: rgba(38, 57, 77, 0.31) 10px 15px 25px -80px;
   margin-bottom: -2rem;
}

#name {
   font-family: 'Rubik';
   font-size: 2rem;
   color: rgba(43, 42, 42, 0.792)
}

#n3 a {
   font-size: 1.5rem;
   font-family: 'Rubik';
   margin: 0rem 0.8rem 0rem 0.8rem;
   color: rgba(43, 42, 42, 0.792)
}

#n3 a:hover {
   color: rgba(241, 166, 53, 0.866);
}

.p-2 {
   position: -webkit-sticky;
   position: sticky;
   top: 10%;
   width: 40%;
   height: 35%;
   z-index: 1;
   overflow-x: hidden;
   color: aliceblue;
   font-family: 'Poppins';
   border: 1px;
   background: rgb(14, 58, 97);
   border-color: rgb(56, 55, 55);
   border-style: none;
   border-radius: 20px;
   box-shadow: rgba(38, 57, 77, 0.31) 0px 15px 55px -10px;
}

.p-2 label {
   font-size: 2.4rem;
   margin: 2rem;
   text-align: center;
   color: aliceblue;
   font-family: serif;
   letter-spacing: 1.5px;
   font-weight: 400;
}

.p-2 p {
   font-size: 1rem;
   letter-spacing: 2px;
   margin: 2rem;
   color: rgb(234, 238, 243);
   font-family: 'Rubik';
   letter-spacing: 1.5px;
}

.logo {
   width: 4.5rem;
   height: 4.5rem;
   border-radius: 50px;
   margin-right: 10px;
}

#logo1 {
   width: 8rem;
   height: 8rem;
   border-radius: 60px;
   margin-right: 10px;
}

.p-2 p i {
   font-size: 1.3rem;
   letter-spacing: 2px;
   margin-left: auto;
   margin-right: auto;
   color: rgb(234, 238, 243);
   font-family: 'Rubik';
   letter-spacing: 1.5px;
}

#div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-top: 5rem;
}

#opt {
   width: 50%;
   margin-bottom: 4rem;
   margin-left: 5rem;
   font-size: 22px;
   letter-spacing: 1px;
   font-family: 'Times New Roman';
}

.options {
   width: 150%;
   color: black;
   border-radius: 3rem;
   border-style: solid;
   border-width: 4px;
   padding: 1.5rem;
   margin-bottom: 5rem;
   background-color: rgb(255, 255, 255);
   border-color: rgba(5, 30, 53, 0.669);
}

.options label {
   font-size: 2rem;
   font-family: 'Poppins';
   color: rgb(53, 53, 111);
}

.options button {
   display: inline-block;
   align-items: center;
   justify-content: center;
   margin-left: 20%;
   margin-top: 2rem;
   font-size: 1.2rem;
   border-radius: 3rem;
   width: 18rem;
   height: 3rem;
   color: rgb(33, 33, 33);
   font-family: 'poppins';
   border-style: solid;
   border-color: rgba(33, 33, 33, 0.808);
   background-color: rgb(241, 244, 247);
}

.fbtn i {
   color: rgb(77, 77, 79);
   margin-top: 2.5rem;
   font-size: 3rem;
   margin-left: 1rem;
}

.file {
   display: inline-block;
}

.options button:hover {

   color: rgb(219, 245, 251);
   font-size: 1rem;
   background-color: rgb(5, 67, 128);
}


#l {
   margin-top: 1rem;
   width: 18vh;
   height: 18vh;
   margin-right: -1.8rem;
   transform: rotate(-10deg);
   border-radius: 10px;
   background-color: transparent;
}

#f-l {

   margin-left: auto;
   margin-right: auto;
   padding-top: 8rem;
   padding-bottom: 12rem;
   display: flex;
   text-align: center;
   justify-content: center;
   height: 5vh;
}

#f-l h3 {
   font-size: 2.4rem;
   color: rgba(248, 177, 71, 0.912);
   margin-top: 2rem;
   text-align: center;
   justify-content: center;
   line-height: 2rem;
   padding: 3rem 0rem 3rem 2rem;
   text-shadow: 10px 14px 14px rgba(146, 144, 144, 0.405);
}

#cpy {

   font-size: 14px;
   font-family: 'Poppins';
   color: aliceblue;
   background-color: rgb(119, 117, 117);
   border-radius: 10px;
   width: 100%;
   height: 3rem;
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
}